/* ***********************************
GOOGLE GONTS
*********************************** */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700");


/* ***********************************
EXTERNAL FILES
*********************************** */
@import 'mixins';
@import 'variables';


/* ***********************************
DEFAULT STYLES
*********************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; 
}

.container {
  width: 90%;
  margin: auto; 
}

a {
  text-decoration: none; 

  &:hover{
      transition: $transition;
  }
}
 
ul {
  list-style-type: none;
}

@keyframes typing{
  from{
    width: 0;
  }
}

.line{
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background-color: $pink;
  margin: 10px 0px;
}


// HEADER

header{

  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/header.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  nav{
    @include flex(space-between,center,row,wrap);
    padding-top: 20px;

    @media(max-width:768px){
      flex-direction: column;
    }

    .logo{
      color: $white;
      font-size: 2rem;

      &:hover{
        color: $gray;
      }

      span{
        font-style: italic;
        font-weight: 700;
      }
    }

    ul{
      @include flex(center,center,row,nowrap);

      li{
        padding: 0px 10px;

        @media(max-width:768px){
          padding: 0px 5px;
        }

        @media(max-width:320px){
          padding: 0px 1px;
        }

        a{
          color: $white;
          text-transform: uppercase;
          font-size: 1.1rem;

          @media(max-width:768px){
            font-size: 0.9rem;
          }

          &:hover{
            color: $gray;
          }
        }
      }
    }
  }

  hgroup{
    @include flex(center, center, column, wrap);
    height: 90vh;
    color: $white;
    text-align: center;


    h1{
      padding: 10px 0px;
      font-size: 3rem;

      @media(max-width:768px){
        font-size: 2rem;
      }
    }

    h4{
      width:21ch;
      animation: typing steps(21);
      animation-duration: 2s;
      overflow: hidden;
      font-size: 1.4rem;
      font-family: monospace;
      border-right: 3px solid;
      white-space: nowrap;
    }
  }
}



// ABOUT

.about{
  padding: $padding;
  @include flex(space-between,center,row,wrap);

  article{
    flex: 0 0 45%;

    @media(max-width:768px){
      flex: 0 0 100%;
    }

    &:first-child{
      h3{
        font-size: 3rem;

        @media(max-width:768px){
          font-size: 2rem;
        }
      }

      h5{
        font-size: 1.5rem;
        padding: 15px 0px;

        &::after{
          @extend .line;
        }
      }

      button{
       @include btn;
      }
    }

    &:last-child{
      img{
        width: 100%;
        height: auto;
        border-radius: 30px;
        box-shadow:  0 0 20px $gray;

        @media(max-width:768px){
          margin-top: 20px;
        }
      }
    }
  }
}



// TEAM

.team{
  padding: $padding;

  h3{
    font-size: 3rem;

    @media(max-width:768px){
      font-size: 2rem;
    }
  }

  h5{
    font-size: 1.5rem;
    padding: 15px 0px;

    &::after{
      @extend .line;
    }
  }

  .row{
    @include flex(space-between,center,row,wrap);

    article{
      flex: 0 0 24%;
      position: relative;
      margin-top: 20px;

      @media(max-width:768px){
        flex: 0 0 100%;
      }

      &:hover .team-overlay{
          bottom: 0;
          height: 98%;
          transition: $transition;
      }

      img{
        width: 100%;
        height: auto;
      }

      .team-overlay{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        background: rgba(0,0,0,0.5);

        @media(max-width:768px){
          opacity: 0;
        }

        p{
          color: $white;
          font-size: 0.9rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .team-text{
        position: absolute;
        top: 80%;
        bottom: 0;
        right: 0;
        left: 0;
        color: $white;
        font-size: 1.2rem;
        background: rgba(0,0,0,0.7);
        text-align: center;
        padding: 15px;
        opacity: 0;

        @media(max-width:768px){
          opacity: 1;
        }
      }
    }
  }
}



// NUMBERS


.numbers{
  padding: $padding;
  text-align: center;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  .container{
    @include flex(space-between,center,row,wrap);

    article{
      flex: 0 0 24%;

      @media(max-width:768px){
        flex: 0 0 50%;
      }

      h3{
        font-size: 2rem;

        &::after{
          @extend .line;
          width: 100px;
          margin: 15px auto;
          background-color: $black;
        }
      }

      p{
        font-weight: bold;
      }
    }

  }
}


// GALLERY

  .gallery{
    padding: $padding;

    h3{
      font-size: 3rem;

      &::after{
        @extend .line;
      }
    }

    .row{
      @include flex(space-between,center,row,wrap);

      article{
        flex: 0 0 24%;
        position: relative;

        @media(max-width:768px){
          flex: 0 0 100%;
          margin-top: 20px;
        }

        img{
          width: 100%;
          height: auto;

          &:hover{
            opacity: 0.8;
            transition: $transition;
          }
        }

        .article-text{
          position: absolute;
          top: 50%;
          left: 50%;
          color: $white;
          transform: translate(-50%,-50%);
          background: $pink;
          padding: 10px;
          opacity: 0.7;
        }
      }
    }
  }


  // CONTACT

  .contact{
    padding: $padding;
    
    @include flex(space-between,center,row,wrap);

    article{
      flex: 0 0 45%;

      @media(max-width:768px){
        flex: 0 0 100%;
        margin-bottom: 20px;
      }

      img{
        width: 100%;
        height: auto;
        border-radius: 10%;
        box-shadow:  0 0 20px $gray;

        @media(max-width:768px){
          order: 1;
        }
      }

      form{
        @include flex(space-between,flex-start,column,nowrap);

        @media(max-width:768px){
          order: 2;
        }

        input{
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
        }

        textarea{
          width: 100%;
          padding: 10px;
          height: 33%;
        }

        button{
          @include btn;
        }
      }
    }
  }


  // FOOTER

  footer{
    padding: $padding;
    background-color: $gray;

    .container{
      @include flex(space-between,flex-start,row,wrap);

      article{
        flex: 0 0 30%;

        @media(max-width:768px){
          flex: 0 0 100%;
          margin-bottom: 20px;
        }

        h3{
          font-size: 1.4rem;
          color: $pink;

          &::after{
            @extend .line;
          }
        }

        ul{
          li{
            color: $white;
            font-size: 1.2rem;
            padding-top: 10px;

            .socialNet{
              i{
                border: 1px solid $white;
                border-radius: 50%;
                padding:10px;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }