/* ***********************************
GOOGLE GONTS
*********************************** */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700");
/* ***********************************
EXTERNAL FILES
*********************************** */
/* ***********************************
DEFAULT STYLES
*********************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

.container {
  width: 90%;
  margin: auto; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.7s ease; }

ul {
  list-style-type: none; }

@keyframes typing {
  from {
    width: 0; } }
.line, .about article:first-child h5::after, .team h5::after, .numbers .container article h3::after, .gallery h3::after, footer .container article h3::after {
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #f20f97;
  margin: 10px 0px; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px; }
    @media (max-width: 768px) {
      header nav {
        flex-direction: column; } }
    header nav .logo {
      color: #fff;
      font-size: 2rem; }
      header nav .logo:hover {
        color: gray; }
      header nav .logo span {
        font-style: italic;
        font-weight: 700; }
    header nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap; }
      header nav ul li {
        padding: 0px 10px; }
        @media (max-width: 768px) {
          header nav ul li {
            padding: 0px 5px; } }
        @media (max-width: 320px) {
          header nav ul li {
            padding: 0px 1px; } }
        header nav ul li a {
          color: #fff;
          text-transform: uppercase;
          font-size: 1.1rem; }
          @media (max-width: 768px) {
            header nav ul li a {
              font-size: 0.9rem; } }
          header nav ul li a:hover {
            color: gray; }
  header hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    color: #fff;
    text-align: center; }
    header hgroup h1 {
      padding: 10px 0px;
      font-size: 3rem; }
      @media (max-width: 768px) {
        header hgroup h1 {
          font-size: 2rem; } }
    header hgroup h4 {
      width: 21ch;
      animation: typing steps(21);
      animation-duration: 2s;
      overflow: hidden;
      font-size: 1.4rem;
      font-family: monospace;
      border-right: 3px solid;
      white-space: nowrap; }

.about {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .about article {
    flex: 0 0 45%; }
    @media (max-width: 768px) {
      .about article {
        flex: 0 0 100%; } }
    .about article:first-child h3 {
      font-size: 3rem; }
      @media (max-width: 768px) {
        .about article:first-child h3 {
          font-size: 2rem; } }
    .about article:first-child h5 {
      font-size: 1.5rem;
      padding: 15px 0px; }
    .about article:first-child button {
      background: none;
      border: 1px solid #000;
      width: 300px;
      padding: 15px 0px;
      font-size: 1.2rem;
      margin-top: 30px;
      border-radius: 30px; }
      .about article:first-child button:hover {
        transition: 0.7s ease;
        cursor: pointer;
        border: 1px solid #f20f97;
        box-shadow: inset 300px 0 0 0 #f20f97; }
    .about article:last-child img {
      width: 100%;
      height: auto;
      border-radius: 30px;
      box-shadow: 0 0 20px gray; }
      @media (max-width: 768px) {
        .about article:last-child img {
          margin-top: 20px; } }

.team {
  padding: 50px 0px; }
  .team h3 {
    font-size: 3rem; }
    @media (max-width: 768px) {
      .team h3 {
        font-size: 2rem; } }
  .team h5 {
    font-size: 1.5rem;
    padding: 15px 0px; }
  .team .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .team .row article {
      flex: 0 0 24%;
      position: relative;
      margin-top: 20px; }
      @media (max-width: 768px) {
        .team .row article {
          flex: 0 0 100%; } }
      .team .row article:hover .team-overlay {
        bottom: 0;
        height: 98%;
        transition: 0.7s ease; }
      .team .row article img {
        width: 100%;
        height: auto; }
      .team .row article .team-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5); }
        @media (max-width: 768px) {
          .team .row article .team-overlay {
            opacity: 0; } }
        .team .row article .team-overlay p {
          color: #fff;
          font-size: 0.9rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .team .row article .team-text {
        position: absolute;
        top: 80%;
        bottom: 0;
        right: 0;
        left: 0;
        color: #fff;
        font-size: 1.2rem;
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        padding: 15px;
        opacity: 0; }
        @media (max-width: 768px) {
          .team .row article .team-text {
            opacity: 1; } }

.numbers {
  padding: 50px 0px;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }
  .numbers .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .numbers .container article {
      flex: 0 0 24%; }
      @media (max-width: 768px) {
        .numbers .container article {
          flex: 0 0 50%; } }
      .numbers .container article h3 {
        font-size: 2rem; }
        .numbers .container article h3::after {
          width: 100px;
          margin: 15px auto;
          background-color: #000; }
      .numbers .container article p {
        font-weight: bold; }

.gallery {
  padding: 50px 0px; }
  .gallery h3 {
    font-size: 3rem; }
  .gallery .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .gallery .row article {
      flex: 0 0 24%;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .row article {
          flex: 0 0 100%;
          margin-top: 20px; } }
      .gallery .row article img {
        width: 100%;
        height: auto; }
        .gallery .row article img:hover {
          opacity: 0.8;
          transition: 0.7s ease; }
      .gallery .row article .article-text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        background: #f20f97;
        padding: 10px;
        opacity: 0.7; }

.contact {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .contact article {
    flex: 0 0 45%; }
    @media (max-width: 768px) {
      .contact article {
        flex: 0 0 100%;
        margin-bottom: 20px; } }
    .contact article img {
      width: 100%;
      height: auto;
      border-radius: 10%;
      box-shadow: 0 0 20px gray; }
      @media (max-width: 768px) {
        .contact article img {
          order: 1; } }
    .contact article form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap; }
      @media (max-width: 768px) {
        .contact article form {
          order: 2; } }
      .contact article form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; }
      .contact article form textarea {
        width: 100%;
        padding: 10px;
        height: 33%; }
      .contact article form button {
        background: none;
        border: 1px solid #000;
        width: 300px;
        padding: 15px 0px;
        font-size: 1.2rem;
        margin-top: 30px;
        border-radius: 30px; }
        .contact article form button:hover {
          transition: 0.7s ease;
          cursor: pointer;
          border: 1px solid #f20f97;
          box-shadow: inset 300px 0 0 0 #f20f97; }

footer {
  padding: 50px 0px;
  background-color: gray; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    footer .container article {
      flex: 0 0 30%; }
      @media (max-width: 768px) {
        footer .container article {
          flex: 0 0 100%;
          margin-bottom: 20px; } }
      footer .container article h3 {
        font-size: 1.4rem;
        color: #f20f97; }
      footer .container article ul li {
        color: #fff;
        font-size: 1.2rem;
        padding-top: 10px; }
        footer .container article ul li .socialNet i {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 10px;
          font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
